#body {
    font-family: sans-serif;
    margin: auto;
    background: black;
    color: white;
}

.container {
    margin-bottom: 2%;
}

.beschreibungstext {
    margin-top: 1%;
}

.braun {
    color: tan;
    font-size: 130%;
    margin-bottom: 5%;
}

.colorturquoise {
    color: darkturquoise;
    margin-bottom: 1%;
}


.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 300px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

.footer {
    justify-content: left;
    background-color: lightslategrey;
    height: 20px;
    font-size: 80%;
    color: white;
}